button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  border: 1px solid black;
}

.number {
  text-align: center;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
  .plus {
    background-color: green;
    color: white;
  }
  .minus {
    background-color: darkred;
    color: white;
  }
}